<div class="form-create">

    <h1 class="h1-login">Log in</h1>

    <form action="/auth/login" method="post">
    
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" name="password">
    </div>

    <button class="btn-access">Access</button>

    {{#if this.errorMessage}}
    <p style="color: red;">{{this.errorMessage}}</p>
    {{/if}}
    
    </form>

</div>