<div class="form-create">

    <h2 class="h1-login">Sign Up</h2>
    <div class="input-group" >

    <form action="/auth/signup" method="post">
    
    <label class="form-group-text" for="firstName">First name:</label>
    <input class="form-control" type="text" name="firstName">

  

    <label class="form-group-text" for="lastName">Last name:</label>
    <input class="form-control" type="text" name="lastName">

  
    
    <label class="form-group-text" for="password">Password:</label>
    <input class="form-control" type="password" name="password">

  

    <label class="form-group-text" for="email">Email:</label>
    <input class="form-control" type="email" name="email">

  

    <label class="form-group-text" for="address">Address:</label>
    <input class="form-control" type="text" name="address">

  

    <label class="form-group-text" for="city">City:</label>
    <input class="form-control" type="text" name="city">

  

    <label class="form-group-text" for="postalCode">Postal Code:</label>
    <input class="form-control" type="Number" name="postalCode">

  

    <label for="dateOfBirth">Birthdate:</label>
    <input type="date" name="dateOfBirth">

  

    </div>
    <button class="btn-access">Register</button>

    {{#if this.errorMessage}}
        <p style="color: red;">{{this.errorMessage}}</p>
    {{/if}}
    </form>

</div>