<div>

<h3>Aqui la vista de los admins</h3>

  <a href="/product/list" style="color: red">Lista de productos</a>
 <a href="/product/details" style="color: red">Detalles del producto</a> 
  <a href="/product/edit" style="color: red">Editar un producto</a>  
  

 

</div>  



</div>