


<div class="home">


<h1 id="title">High Stakes </h1>
<p id="subtitle">Proyect made by Juan Diego and Dani</p>


<footer>
    <nav class="navbar fixed-bottom bg-dark">

      <div class="container-md">

      <a class="navbar-brand"  target="_blank" href="https://github.com/JuanDiegoArocha">github.com/JuanDiegoArocha</a>

      <p class="navbar-brand">IronHack Bootcamp 2023 ®</p>

      <a class="navbar-brand"  target="_blank" href="https://github.com/danipujol">github.com/danipujol</a>


      </div>


    </nav>   

  </footer>
</div>


