<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      
       <nav>
         <a href="/">Home</a>
         {{#if user}}
         <a href="/user/profile">Profile</a>
         <a href="/user/cart">Cart</a>
         <a href="/user/pay">Pay</a>
         <a href="/user/logout">Logout</a>
         <p>{{session.user}}</p>
          {{/if}}
          {{#unless user}}
         <a href="/auth/signup">Sign up</a>
         <a href="/auth/login">Log in</a>
         <a href="/product/create" style="color: red" >Crear producto</a>
         {{!-- <a href="/product/edit" style="color: red">Editar un producto</a>  --}}
         <a href="/product/list" style="color: red">Lista de productos</a>
         {{!-- <a href="/product/details" style="color: red">Detalles del producto</a> --}}
         {{/unless}}
         {{!-- revisar mañana con jorge --}}

        

      </nav> 

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>