<div>

    <h2>Cart</h2>

    {{#if cartItems.length}}
    <ul>
        {{#each cartItems}}
        <li>

            <p><b>Product:</b>{{this.name}}</p>
            <p><b>Quantity:</b>{{this.quantity}}</p>

        </li>
        {{/each}}
    </ul>
    {{/if}}

</div>