<div>

<h3>CREATE A NEW PRODUCT</h3>

<form action="/product/create" method="post" enctype="multipart/form-data">

<label for="name">Name</label>
<input type="text" name="name">

<br>

<label for="description">Despcription</label>
<input type="text" name="description">

<br>

<label for="price">Price</label>
<input type="number" name="price">

<br>

<label for="stock">Stock</label>
<input type="number" name="stock">

<br>

<label for="image">Image</label>
<input type="file" name="image">

<br>
<br>

<button>Add to product list</button>

</form>


</div>