<div>

<h3>Aqui para que el ADMIN añada productos en stock o 
    añada nuevos productos</h3>

<form action="/product/create" method="post" enctype="multipart/form-data">

<label for="name">Nombre</label>
<input type="text" name="name">

<br>

<label for="description">Características</label>
<input type="text" name="description">

<br>

<label for="price">Precio</label>
<input type="number" name="price">

<br>

<label for="stock">Cantidad añadida</label>
<input type="number" name="stock">

<br>

<label for="image">Imagen</label>
<input type="file" name="image">

<br>
<br>

<button>Añadir a la lista de productos</button>

</form>


</div>