<div class="form-create">


<h3 class="h3-create">Create a New Product</h3>
<div class="input-group">


<form  class="create-form" action="/product/create" method="post" enctype="multipart/form-data">

<label class="form-group-text" for="name">Name</label>
<input class="form-control" type="text" name="name">



<label class="form-group-text" for="description">Despcription</label>
<input class="form-control" type="text" name="description">



<label class="form-group-text" for="price">Price</label>
<input class="form-control" type="number" name="price">



<label class="form-group-text" for="stock">Stock</label>
<input class="form-control" type="number" name="stock">


<label class="form-group-text" for="image">Image</label>
<input class="form-control" type="file" name="image">



<button>Add to product list</button>

</form>


</div>

</div>    