<div>

<h2>Available products</h2>



<ul>
  {{#each this.allProducts}}
  <li>
    <p>  Product:
   <a href="/product/{{this.id}}/details"> {{this.name}}</a></p>

    <br>
    <p>Price: {{this.price}} €</p>
    
    <br>
    <p><img src="{{this.image}}" alt="imagen" width="150"></p>
   
  

    {{!-- imagen --}}
    </li>
  {{/each}}
  </ul>

  {{#if isAdmin}}
     <a href="/product/create">Create product</a>
  {{/if}}

</div>